body{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
flex-direction:column;
gap:30px;
background: #1d2b3a;
background-image: url("img1.jpg");
background-repeat: no-repeat;
background-position: center;

}
.title{
    color: aliceblue;
}
.h2{
    text-decoration-color: azure;
}
